# Ignore virtual environment
venv/
env/
*.pyc

# Ignore Django migration files
__pycache__
*/__pycache__/
**/migrations/
*.sqlite3

# Ignore IDE or editor-specific files
*.idea/
.vscode/
*.pyc

# Ignore local settings (if using different settings per environment)
*/local_settings.py

# Ignore logs and temporary files
logs/
*.log
*.bak

# Ignore static files (if served separately)
/static/
